Repository sycamore-rs/sycamore, pull requests merged in 2021-08, with the labels that each got.

#194 Remove inline JS snippet
  .github/workflows/js_framework_bench.yml
  packages/sycamore/src/generic_node/dom_node.rs
Labels: performance

#198 Add ui tests for `#[component]`
  packages/sycamore-macro/src/component/mod.rs
  packages/sycamore-macro/tests/component/component-fail.rs
  packages/sycamore-macro/tests/component/component-fail.stderr
  packages/sycamore-macro/tests/component/component-pass.rs
  packages/sycamore-macro/tests/template_macro.rs
  packages/sycamore-macro/tests/ui.rs
  packages/sycamore-router-macro/tests/ui.rs
Labels: test

#201 Generate sitemap.xml
  .vscode/settings.json
  docs/build.rs
  website/index.html
  website/sitemap.xml
Labels: website

#202 Tweak styles
  website/robots.txt
  website/src/content.rs
  website/tailwind.config.js
Labels: website

#204 Extract reactive primitives into new crate
  .github/workflows/build_website.yml
  .github/workflows/test.yml
  Cargo.toml
  examples/context/src/main.rs
  examples/tweened/src/main.rs
  packages/sycamore-macro/tests/component/component-pass.rs
  packages/sycamore-reactive/Cargo.toml
  packages/sycamore-reactive/src/context.rs
  packages/sycamore-reactive/src/effect.rs
  packages/sycamore-reactive/src/iter.rs
  packages/sycamore-reactive/src/lib.rs
  packages/sycamore-reactive/src/signal.rs
  packages/sycamore/Cargo.toml
  packages/sycamore/src/context.rs
  packages/sycamore/src/lib.rs
  packages/sycamore/src/macros.rs
  packages/sycamore/src/motion.rs
  packages/sycamore/src/rx.rs
Labels: reactivity, performance

#206 Explain that Trunk needs a HTML source file
  docs/versioned_docs/v0.5/getting_started/hello_world.md
Labels: documentation

#205 Rename rx to reactive
  .gitignore
  .vscode/settings.json
  docs/next/advanced/advanced_reactivity.md
  docs/next/contribute/architecture.md
  examples/context/src/main.rs
  packages/sycamore-macro/src/lib.rs
  packages/sycamore-macro/src/template/attributes.rs
  packages/sycamore-macro/src/template/component.rs
  packages/sycamore-reactive/src/effect.rs
  packages/sycamore-reactive/src/signal.rs
  packages/sycamore-router/src/router.rs
  packages/sycamore/benches/reactivity.rs
  packages/sycamore/src/context.rs
  packages/sycamore/src/flow.rs
  packages/sycamore/src/generic_node/dom_node.rs
  packages/sycamore/src/generic_node/ssr_node.rs
  packages/sycamore/src/lib.rs
  packages/sycamore/src/motion.rs
  packages/sycamore/src/template.rs
  packages/sycamore/src/utils/render.rs
Labels: reactivity, BREAKING CHANGE

#209 Implement Portals
  .github/workflows/build_website.yml
  .github/workflows/build_website_prod.yml
  .gitpod.Dockerfile
  packages/sycamore/src/context.rs
  packages/sycamore/src/lib.rs
  packages/sycamore/src/portal.rs
  packages/sycamore/src/template.rs
  packages/sycamore/tests/web/cleanup.rs
  packages/sycamore/tests/web/main.rs
  packages/sycamore/tests/web/portal.rs
  website/index.html
  website/src/content.rs
  website/src/index.rs
  website/src/news_index.rs
  website/src/versions.rs
Labels: enhancement, components

#210 Remove internal Rc from DomNode
  packages/sycamore/src/generic_node/dom_node.rs
Labels: performance

#211 Optimize website with wasm-opt
  packages/sycamore/src/generic_node.rs
  website/index.html
Labels: website

#213 Allow creating components with the `Component` trait
  Cargo.toml
  docs/next/getting_started/hello_world.md
  docs/versioned_docs/v0.5/getting_started/hello_world.md
  examples/higher-order-components/Cargo.toml
  examples/higher-order-components/index.html
  examples/higher-order-components/src/main.rs
  packages/sycamore-macro/src/component/mod.rs
  packages/sycamore-macro/src/template/component.rs
  packages/sycamore-macro/tests/template/component-pass.rs
  packages/sycamore/src/component.rs
  website/sitemap_index.xml
Labels: BREAKING CHANGE, components

#215 Use more rust idioms in map_indexed and map_keyed
  packages/sycamore-reactive/src/iter.rs
Labels: performance

#216 Optimize create_effect
  packages/sycamore-reactive/src/effect.rs
Labels: performance

#218 Fix SsrNode remove_child
  packages/sycamore/src/generic_node/ssr_node.rs
  packages/sycamore/tests/ssr/main.rs
Labels: bug, SSR / SSG
