Repository sycamore-rs/sycamore, pull requests merged in 2021-09, with the labels that each got.

#220 Respect `base` html tag in router
  packages/sycamore-router/Cargo.toml
  packages/sycamore-router/src/router.rs
Labels: router

#221 Fix router `base_pathname` with no `base` tag
  packages/sycamore-router/Cargo.toml
  packages/sycamore-router/src/router.rs
Labels: bug, router

#222 Router refactor
  docs/next/advanced/routing.md
  packages/sycamore-router-macro/src/lib.rs
  packages/sycamore-router-macro/src/route.rs
  packages/sycamore-router-macro/tests/router/router-fail.rs
  packages/sycamore-router-macro/tests/router/router-fail.stderr
  packages/sycamore-router-macro/tests/router/router-pass.rs
  packages/sycamore-router/Cargo.toml
  packages/sycamore-router/src/lib.rs
  packages/sycamore-router/src/router.rs
  website/sitemap_index.xml
  website/src/main.rs
Labels: BREAKING CHANGE, router

#223 ReactiveScope backlinks to parent
  packages/sycamore-reactive/src/context.rs
  packages/sycamore-reactive/src/effect.rs
  packages/sycamore-reactive/src/iter.rs
  packages/sycamore-reactive/src/lib.rs
  packages/sycamore-router/src/router.rs
  packages/sycamore/src/context.rs
Labels: performance, A-context

#225 Website dark mode
  docs/build.rs
  website/Cargo.toml
  website/index.css
  website/package-lock.json
  website/package.json
  website/postcss.config.js
  website/src/header.rs
  website/src/index.rs
  website/src/main.rs
  website/src/news_index.rs
  website/src/sidebar.rs
  website/src/versions.rs
  website/tailwind.config.js
Labels: enhancement, website

#226 Use unwrap_throw instead of unwrap
  .gitpod.yml
  packages/sycamore/src/generic_node/dom_node.rs
  packages/sycamore/src/portal.rs
  packages/sycamore/src/utils.rs
  packages/sycamore/src/utils/render.rs
  website/package-lock.json
  website/package.json
  website/src/header.rs
Labels: performance

#227 Add versioned sidebars
  docs/build.rs
  docs/next/sidebar.json
  docs/versioned_docs/v0.5/sidebar.json
  website/sitemap_index.xml
  website/src/content.rs
  website/src/main.rs
  website/src/sidebar.rs
Labels: enhancement, website

#232 Derived `Clone` for router types
  packages/sycamore-router/src/lib.rs
Labels: A-router

#229 Fix FIXME in TodoMVC example
  examples/todomvc/src/main.rs
Labels: A-examples

#233 `create_reducer`
  packages/sycamore-reactive/src/effect.rs
Labels: enhancement, A-reactivity

#234 Fix router parser not parsing identifiers
  packages/sycamore-reactive/src/effect.rs
  packages/sycamore-router-macro/Cargo.toml
  packages/sycamore-router-macro/src/parser.rs
  packages/sycamore-router-macro/src/route.rs
  packages/sycamore-router-macro/tests/router/router-fail.stderr
  packages/sycamore-router/src/lib.rs
  website/src/index.rs
Labels: bug, A-macro, A-router

#235 Build rustdoc in CI
  .github/workflows/build_website.yml
  .github/workflows/build_website_prod.yml
  examples/context/index.html
  netlify.toml
  packages/sycamore/src/context.rs
  packages/sycamore/src/motion.rs
  website/src/versions.rs
Labels: ci

#236 Organize docs
  docs/build.rs
  docs/next/advanced/advanced_reactivity.md
  docs/next/advanced/contexts.md
  docs/next/advanced/optimize_wasm_size.md
  docs/next/contribute/development.md
  docs/next/getting_started/installation.md
  docs/next/optimizations/code_size.md
  docs/next/optimizations/speed.md
  docs/next/sidebar.json
  docs/versioned_docs/v0.5/contribute/development.md
  docs/versioned_docs/v0.5/getting_started/installation.md
  examples/ssr/index.html
  website/sitemap_index.xml
Labels: documentation

#238 Do not intercept anchors with `rel="external"`
  docs/next/advanced/routing.md
  packages/sycamore-router/src/router.rs
  website/src/versions.rs
Labels: enhancement, A-router

#239 Support boolean attributes
  examples/todomvc/src/item.rs
  examples/todomvc/src/list.rs
  packages/sycamore-macro/Cargo.toml
  packages/sycamore-macro/src/template/attributes.rs
  packages/sycamore/src/generic_node.rs
  packages/sycamore/src/generic_node/dom_node.rs
  packages/sycamore/src/generic_node/ssr_node.rs
Labels: bug, A-macro, A-template

#242 Only initialize `console_log` in debug mode for website
  website/src/main.rs
Labels: website

#246 Use a global HashSet for void elements lookup in SSR
  packages/sycamore/Cargo.toml
  packages/sycamore/src/generic_node/ssr_node.rs
Labels: performance, A-SSR

#251 Properly handle dynamic nodes in a fragment
  packages/sycamore/src/utils/render.rs
  packages/sycamore/tests/web/main.rs
Labels: bug

#253 Added docs on topological dependency tracking
  docs/versioned_docs/v0.6/basics/reactivity.md
Labels: documentation
