Repository sycamore-rs/sycamore, pull requests merged in 2021-12, with the labels that each got.

#310 Fix contexts inside effects
  packages/sycamore-reactive/src/context.rs
  packages/sycamore-reactive/src/effect.rs
  packages/sycamore-reactive/src/iter.rs
  packages/sycamore-reactive/src/lib.rs
  packages/sycamore/src/context.rs
  packages/sycamore/src/futures.rs
  packages/sycamore/src/view.rs
Labels: bug, A-reactivity, A-context

#313 Fix website npm script
  website/package.json
  website/src/header.rs
Labels: website

#321 Hack to fix duplicate text when hydrating
  packages/sycamore/src/utils/render.rs
  packages/sycamore/tests/web/hydrate.rs
Labels: bug, A-SSR, A-hydration

#322 Make builder API play well with hydration
  packages/sycamore/src/builder/agnostic/mod.rs
  packages/sycamore/src/utils/hydrate/mod.rs
  packages/sycamore/tests/web/builder_hydrate.rs
  packages/sycamore/tests/web/main.rs
Labels: bug, A-builder, A-hydration

#323 Make output of `render_to_string` fixed
  .gitignore
  examples/hydrate/src/main.rs
  packages/sycamore/src/builder/agnostic/mod.rs
  packages/sycamore/src/generic_node/ssr_node.rs
  packages/sycamore/src/utils/hydrate/mod.rs
Labels: enhancement, A-SSR

#305 An HTTP request example and a tailwindcss styling example
  Cargo.toml
  examples/page-visit-counter-tailwindcss/Cargo.toml
  examples/page-visit-counter-tailwindcss/Trunk.toml
  examples/page-visit-counter-tailwindcss/index.html
  examples/page-visit-counter-tailwindcss/src/main.rs
  examples/page-visit-counter-tailwindcss/tailwind.css
  website/sitemap_index.xml
Labels: A-examples

#326 Add `.map` utility for `ReadSignal` as a wrapper around `create_memo`
  packages/sycamore-reactive/src/signal.rs
Labels: A-reactivity, ergonomics
