Repository sycamore-rs/sycamore, pull requests merged in 2023-01, with the labels that each got.

#555 Replace context `HashMap` with `Vec` and add benchmark
  packages/sycamore-core/src/event.rs
  packages/sycamore-reactive/src/context.rs
  packages/sycamore-reactive/src/lib.rs
  packages/tools/bench/benches/reactivity.rs
Labels: A-reactivity, performance

#548 Allow passing through attributes on components
  Cargo.toml
  docs/next/advanced/attributes_prop.md
  docs/next/sidebar.json
  examples/README.md
  examples/attributes-passthrough/Cargo.toml
  examples/attributes-passthrough/index.html
  examples/attributes-passthrough/src/main.rs
  packages/sycamore-core/src/component.rs
  packages/sycamore-core/src/generic_node.rs
  packages/sycamore-macro/src/props.rs
  packages/sycamore-macro/src/view/codegen.rs
  packages/sycamore-macro/src/view/ir.rs
  packages/sycamore-macro/src/view/parse.rs
  packages/sycamore-macro/tests/view/component-fail.rs
  packages/sycamore-macro/tests/view/component-fail.stderr
  packages/sycamore-macro/tests/view/component-pass.rs
  packages/sycamore-macro/tests/view/element-fail.rs
  packages/sycamore-macro/tests/view/element-fail.stderr
  packages/sycamore-macro/tests/view/element-pass.rs
  packages/sycamore-web/src/dom_node.rs
  packages/sycamore-web/src/hydrate_node.rs
  packages/sycamore-web/src/ssr_node.rs
  packages/sycamore/src/lib.rs
  packages/sycamore/src/utils.rs
  packages/sycamore/src/web/html.rs
Labels: C-enhancement, A-components, A-ergonomics

#558 Wasm bindgen example
  Cargo.toml
  examples/README.md
  examples/js-snippets/Cargo.toml
  examples/js-snippets/index.html
  examples/js-snippets/js/index.js
  examples/js-snippets/src/main.rs
Labels: A-examples
