Repository sycamore-rs/sycamore, pull requests merged in 2023-05, with the labels that each got.

#608 Fix builder `bind_value` and `bind_checked` calling wasm functions in SSR
  packages/sycamore/src/builder.rs
Labels: C-bug, A-SSR, A-builder

#575 Fix #562 / ignore the query parameters when matching a path to a route
  packages/sycamore-router/src/lib.rs
Labels: C-bug, A-router

#610 Fix navigating to an anchor and route matching with hash parameters
  packages/sycamore-router/src/lib.rs
  packages/sycamore-router/src/router.rs
  website/index.css
  website/package-lock.json
Labels: C-bug, A-website, A-router

#613 Update routing.md
  docs/next/advanced/routing.md
Labels: A-docs
