Repository sycamore-rs/sycamore, pull requests merged in 2024-11, with the labels that each got.

#745 Slightly better error messages for read/updating a signal while updating/reading
  packages/sycamore-reactive/src/signals.rs
Labels: C-enhancement, A-reactivity

#749 Router example
  Cargo.toml
  examples/README.md
  examples/router/Cargo.toml
  examples/router/index.html
  examples/router/src/main.rs
Labels: A-examples

#750 Allow adding derives to generated prop type for `inline_props`
  packages/sycamore-macro/src/component.rs
  packages/sycamore-macro/tests/component/inline-props-pass.rs
Labels: C-enhancement, A-macro

#751 Router refresh
  packages/sycamore-router/src/router.rs
Labels: C-enhancement, A-router

#753 Forward attributes on function parameters to generated prop struct in `inline_props`
  packages/sycamore-macro/src/component.rs
  packages/sycamore-macro/src/inline_props.rs
  packages/sycamore-macro/tests/component/inline-props-pass.rs
Labels: C-bug, A-macro

#756 Update trunk to v0.21.1 in GitHub Actions workflows
  .github/workflows/build_examples.yml
  .github/workflows/js_framework_bench.yml
Labels: A-ci

#759 Simplify navigate functions in router
  packages/sycamore-router/src/router.rs
Labels: A-router
