Repository sycamore-rs/sycamore, pull requests merged in 2024-03, with the labels that each got.

#660 Add underline and bold for navigation improvements
  website/src/content.rs
  website/src/header.rs
  website/src/main.rs
  website/src/sidebar.rs
Labels: A-website

#664 Remove deploy draft workflow
  .github/workflows/build_website.yml
  .github/workflows/build_website_prod.yml
Labels: A-ci

#665 Update trunk to v0.19.1 and disable minification for hydrate example
  .github/workflows/build_website.yml
  .github/workflows/js_framework_bench.yml
  examples/hydrate/Trunk.toml
Labels: A-examples, A-ci
